.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    flex-direction: column;
    background-color: red;
}






@media only screen and (min-width: 0px) and (max-width: 800px)
{
    
}

