@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Spartan:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&family=Open+Sans:wght@800&family=Spartan:wght@900&display=swap');

* {
    font-family: 'Spartan', sans-serif;
    font-weight: 900 !important;
}

.svgPlace {
    padding-top: '5px' !important;
}

input {
    margin-left: 40px !important;
}

.submitArrow {
    margin-left: 5px;
    transform: rotate(180deg);
    width: 40px;
    height: 36px;
}


  .element {
    display: inline-block;
    width: auto;
    height: auto;
    
    
  }


.contentContainer {
    width: auto;
    max-width: 1920px;
    margin: 0 auto;
}

.container2 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    flex-direction: column;
}

.navBarContainer {
    width: auto !important; 
    
}

h1 {
    font-size: 96px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900 !important;
}

.nav-link {
    font-size: 25px;
}

.navbar navbar-expand navbar-light bg-light {
    background-color: white;
}


.container {
    margin-top: 40px;
}


.subheader {
    font-family: 'Abhaya Libre', serif !important;
    font-size: 32px;
    margin: 0 auto;
}

.footer {
    font-family: 'Abhaya Libre', serif !important;
    font-size: 25px;
    margin: 0 auto;
}


img {
    width: 80%;
}

.dayOfWeek {
    font-size: 40px !important;

}

time {
    font-size: 70px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}

.atl {
    font-size: 40px !important;
    margin: 0px !important;
    padding: 0px !important;
    
}

.btn-primary {
    color: black !important;
    background-color: white !important;
    border-color: black !important;
    border-width: thin !important;
}

iframe {
    width: 90%;
    height: 600px; /*252.5*/
}

.streaming {
    width: 90%;
    height: 390px;
}

.pageContainer {
    width: auto;
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    margin: 0 auto !important;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .column3 {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
    width: 100% !important;
  }

  .column2 {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
    width: 100% !important;
  }

  .column1 {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
    width: 100% !important;
  }

  .slick-slider {
      width: auto;
      margin: 0 auto;
  }
  
  .bookSlide img {
      width: auto;
      height: 600px;
      margin: 0 auto;
  }

  .current {
      font-size: 30px !important;
      margin: 0 auto;
      margin-bottom: 6px;
  }

  .bookDescription {
      font-size: 20px;
  }
  

@media only screen and (min-width: 0px) and (max-width: 800px)
{

    .svg {
        padding-top: '0px';
    }

    .submitArrow {
        transform: rotate(180deg);
        width: 25px;
        height: auto;
    }

    input {
        margin-left: 25px !important;
    }

    html {
        width: 100%;
    }

    h1 {
        font-size: 45px !important;
    }

    .current {
        font-size: 20px !important;
    }

    .bookDescription {
        font-size: 15px;
    }

    .contentContainer {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .pageContainer {
        width: 95%;
    }

    .container {
        margin-top: 0;
        width: inherit !important;
        overflow: hidden !important;
    }
    
    .nav-link {
        padding: 0px !important;
        content: "\a";
        font-size: 18px;
        text-align: center;
        line-height: 1 !important;
    }

    .navbar-nav {
        flex-direction: column !important;
    }

    img {
        width: 90%;
    }

    .subheader {
        font-size: 18px;
    }

    .footer {
        font-size: 15px;
    }

    .dayOfWeek {
        font-size: 20px !important;
    
    }
    
    time {
        font-size: 38px;
        text-transform: uppercase;
        margin: 0px;
        padding: 0px;
    }
    
    .atl {
        font-size: 20px !important;
        margin: 0px !important;
        padding: 0px !important;
        
    }

    iframe {
        width: 90%;
        height: 250px; /*252.5*/
    }

    .slick-slider {
        width: 80%;
        margin: 0 auto;
    }
    
    .bookSlide img {
        width: auto;
        height: 400px;
        margin: 0 auto;
    }

}

