@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Spartan:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&family=Open+Sans:wght@800&family=Spartan:wght@900&display=swap');

* {
    font-family: 'Spartan', sans-serif;
    font-weight: 900 !important;
}

.contentContainer {
    width: auto;
    max-width: 1920px;
    margin: 0 auto;
}

.container2 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    flex-direction: column;
}

.navBarContainer {
    width: auto !important; 
    
}

h1 {
    font-size: 96px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900 !important;
}

.nav-link {
    font-size: 25px;
}

.navbar navbar-expand navbar-light bg-light {
    background-color: white;
}


.container {
    margin-top: 40px;
}


.subheader {
    font-family: 'Abhaya Libre', serif !important;
    font-size: 32px;
    margin: 0 auto;
}


img {
    width: 80%;
}

.dayOfWeek {
    font-size: 40px !important;

}

time {
    font-size: 80px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}

.atl {
    font-size: 80px !important;
    margin: 0px !important;
    padding: 0px !important;
    
}

.btn-primary {
    color: black !important;
    background-color: white !important;
    border-color: black !important;
    border-width: thin !important;
}

iframe {
    width: 90%;
    height: 600px; /*252.5*/
}

.streaming {
    width: 90%;
    height: 390px;
}

.pageContainer {
    width: auto;
    max-width: 1000px;
    margin: 0 auto;
}

@media only screen and (min-width: 0px) and (max-width: 800px)
{
    html {
        width: 100%;
    }

    h1 {
        font-size: 45px !important;
    }
    .contentContainer {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .pageContainer {
        width: 100%;
    }

    .container {
        margin-top: 0;
        width: inherit !important;
        overflow: hidden !important;
    }
    
    .nav-link {
        padding: 0px !important;
        content: "\a";
        font-size: 18px;
        text-align: center;
        line-height: 1 !important;
    }

    .navbar-nav {
        flex-direction: column !important;
    }

    img {
        width: 90%;
    }

    .subheader {
        font-size: 18px;
    }

    .dayOfWeek {
        font-size: 20px !important;
    
    }
    
    time {
        font-size: 40px;
        text-transform: uppercase;
        margin: 0px;
        padding: 0px;
    }
    
    .atl {
        font-size: 42px !important;
        margin: 0px !important;
        padding: 0px !important;
        
    }

    iframe {
        width: 90%;
        height: 250px; /*252.5*/
    }

}

